name: Validate v2.0.0 for snapshot code

on:
  push:
    branches:
      - main
    paths:
      - 'examples/**'
  pull_request:
    branches:
      - main
    paths:
      - 'examples/**'
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      
  LoadCodeBase:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Print Java version from setup
        run: echo "Using Java 17"

      - name: Download jmzTab-m CLI
        id: download_cli
        run: |
          VERSION="1.0.7" ##to be updated for new releases with grep
          ##To be updated to snapshot releases (on GitHub?)
          CLI_URL="https://github-registry-files.githubusercontent.com/107954666/4e61ab80-ba27-11f0-84ab-60ae2c403849?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20251105%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20251105T115446Z&X-Amz-Expires=300&X-Amz-Signature=c26a0dbaa10b7355552203ccb98dbff342e2e3029d3f0b8a84daa19bb08434a2&X-Amz-SignedHeaders=host&response-content-disposition=filename%3Djmztabm-cli-1.0.7-20251105.090420-43-bin.zip&response-content-type=application%2Foctet-stream"

          echo "Downloading jmzTab-m CLI version ${VERSION}..."
          ##Name might need cleaning up, since it's a bin file
          wget -q "${CLI_URL}" -O jmztabm-cli-${VERSION}.jar

          echo "Downloaded jmzTab-m CLI jar: jmztabm-cli-${VERSION}.jar"

      - name: Upload CLI jar as artifact
        uses: actions/upload-artifact@v4
        with:
          name: jmztab-cli
          path: jmztabm-cli-*.jar
          
